<!doctype html>
{% load mptt_tags %}
{% load widget_tweaks %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bard - Reply</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>

  <body>
    <div class="flex-container">
      <a href="/verses/{{parent}}">Back</a>
      <ul class="root">
        <br>
        {% recursetree nodes %}
        <li>
          {% include 'includes/verse_card.html' with obj=node link='/verses/tree/'%}
          {% if not node.is_leaf_node %}
          <ul class="children">
            {{ children }} 
          </ul>
          {% endif %}
        </li>
        {% if node.id == parent %}
        <div class='row'>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/bootstrap_form.html' with form=form %}
            <button type="submit" class="btn btn-primary">Submit</button>
            <input name="author" value={{ request.user.id }} type='hidden'></input>
            <input name="parent" value={{ node.id }} type='hidden'></input>
          </form>
        </div>
        {% endif %}
        {% endrecursetree %}
      </ul>
    </div>
  </body>
</html>

{%comment%}
{%endcomment%}
